body {
	color: #fff;
	background-color: #194775;
}

h3 {
	padding-top: 10px;
	font-family: 'Lato', sans-serif;
} 
tbody>tr>td {
	color: black;
}

.top-bar {
	background-color: #0E2842;
}

.menu, .menu>li {
	background-color: #0E2842;
}

.menu>li>a {
	color: white;
}

label {
	color: white;
}

#list-table_info.dataTables_info {
	color: white;
}

.paginate-button {
	color: white !important;
}